#version=RHEL8
# License agreement
eula --agreed
# Reboot after installation
reboot
# Use text mode install
text

repo --name="AppStream" --baseurl=file:///run/install/repo/AppStream
repo --name="AppStream" --baseurl=file:///run/install/sources/mount-0000-cdrom/AppStream

%post
# sudo
sed -i "s/^.*requiretty/#Defaults requiretty/" /etc/sudoers
%end

%packages
@standard
kexec-tools
rsync
-aic94xx-firmware
-alsa-firmware
-alsa-tools-firmware
-atmel-firmware
-b43-openfwwf
-bfa-firmware
-fprintd-pam
-intltool
-ipw2200-firmware
-ivtv-firmware
-iwl100-firmware
-iwl1000-firmware
-iwl105-firmware
-iwl135-firmware
-iwl2000-firmware
-iwl2030-firmware
-iwl3160-firmware
-iwl3945-firmware
-iwl4965-firmware
-iwl5000-firmware
-iwl5150-firmware
-iwl6000-firmware
-iwl6000g2a-firmware
-iwl6000g2b-firmware
-iwl6050-firmware
-iwl7260-firmware
-iwl7265-firmware
-libertas-sd8686-firmware
-libertas-sd8787-firmware
-libertas-usb8388-firmware
-microcode_ctl
-plymouth
-ql2100-firmware
-ql2200-firmware
-ql23xx-firmware
-ql2400-firmware
-ql2500-firmware
-rt61pci-firmware
-rt73usb-firmware
-vdo
-xorg-x11-drv-ati-firmware
-zd1211-firmware

%end

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Firewall configuration
firewall --disabled
# Network information
network  --bootproto=dhcp --device=link --activate
network  --hostname=localhost.localdomain

# Use CDROM installation media
cdrom

# System authorization information
auth --enableshadow --passalgo=sha512 --kickstart
# SELinux configuration
selinux --permissive

firstboot --disable
# Do not configure the X Window System
skipx

ignoredisk --only-use=sda
# System bootloader configuration
bootloader --append="no_timer_check console=tty0 console=ttyS0,115200n8 elevator=noop crashkernel=auto" --location=mbr --boot-drive=sda
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel
# Disk partitioning information
part swap --fstype="swap" --size=1024
part / --fstype="xfs" --size=8191
part /boot --fstype="xfs" --size=1024

# System timezone
timezone UTC

# Root password
rootpw --plaintext vagrant
user --name=vagrant --password=vagrant

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end
